# The port your server will run on. 
#Example: 9000
PORT=

# The base URL of your API. 
#Example: https://api.yourwebsite.com
BASE_URL=

# The URI of your MongoDB database. 
#Example: mongodb+srv://username:password@clusterurl/database?retryWrites=true&w=majority
MONGO_URI=

# The secret key for your JWT tokens. 
#Example: your_jwt_secret_here
JWT_SECRET=

# The expiration time for your JWT tokens. 
#Example: 30d
JWT_EXPIRE=

# The AWS region your S3 bucket is located in. 
#Example: ap-south-1
REGION=

# The name of your S3 bucket. 
#Example: your-bucket-name
BUCKET_NAME=

# Your AWS access key. 
#Example: AKIAIOSFODNN7EXAMPLE
ACCESS_KEY=

# Your AWS secret access key. 
#Example: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
SECRET_ACCESS_KEY=